.albums-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.albums-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
/*
.album img {
  width: 100%;
}

.album:hover .album-info-wrap {
  visibility: visible;
  opacity: 1;
}

.album-info-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.2s, visibility 0.2s;
}

.album-info {
  position: absolute;
  bottom: 5%;
}

.album-title {
  font-size: 18px;
  font-style: italic;
}

.see-album-page {
  color:inherit
}

.album-order {
  right: 0;
  position: absolute;
  padding: 5px;
}
*/